{% extends "base.html" %}
{% block extra_title %}
Home
{% endblock %}
{% load static %}

<style>
    .card-product .category {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        height: 420px;
        text-align: center;
    }
</style>

{% block content %}

    <div class="container my-5">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 col-lg-4" id="bikes-cat">
                <figure class="card card-product">
                    <a href="{% url 'products' %}?category=bikes">
                        <img src="{% static 'bikes.png' %}" class="category" alt="bikes category" style="width: auto; height: 620px;">
                        <div class="category-text">Bikes</div>
                    </a>
                </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-4" id="parts-cat">
                <figure class="card card-product">
                <a href="{% url 'products' %}?category=parts">
                    <img src="{% static 'bikeparts.png' %}" class="category" alt="parts category" style="width: auto; height: 620px;">
                    <div class="category-text">Parts</div>
                </a>
                </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-4" id="clothing-cat">
                <figure class="card card-product">
                <a href="{% url 'products' %}?category=clothing">
                    <img src="{% static 'bikeclothes.png' %}" class="category" alt="clothing category" style="width: auto; height: 620px;">
                    <div class="category-text">Clothing</div>
                </a>
            </figure>
            </div>
        </div>
    </div>
{% endblock %}