{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row text-center m-1">
        
        <div class="col-4 category-container" id="bike-cat">
            <a href="{% url 'products' %}?category=Bikes">
                <img src="/media/bikes.png" class="category" alt="">
                <div class="category-text">Bikes</div>
            </a>
        </div>
        <div class="col-4 category-container" id="parts-cat">
            <a href="{% url 'products' %}?category=Parts">
                <img src="/media/bikeparts.png" class="category" alt="">
                <div class="category-text">Parts</div>
            </a>
        </div>
        <div class="col-4 category-container" id="clothing-cat">
            <a href="{% url 'products' %}?category=Clothing">
                <img src="/media/bikeclothes.png" class="category" alt="">
                <div class="category-text">Clothing</div>
            </a>
        </div>
    </div>
{% endblock %}