{% extends 'base.html' %}

{% block content %}
<br><br><br>
   <div class="container my-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        You have been logged out
                    </h5>
                    <p class="card-text">
                        Thank you for visiting the Cycle shop
                    </p>
                    <br>
                    <hr>
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        Sign in again
                    </a>
                </div>
            
               </div>
        </div>
    </div>
   </div>
{% endblock %}