{%  extends 'base.html' %}
{% block content %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-10">
            <div class="my-3 p-3">
                <img src="{{user.profile.avatar.url}}"  class="rounded-circle account-img w-25" style="cursor:pointer;" alt="">
             </div>
             
             {% if user_form.errors %}
                 <div class="alert alert-danger alert-dismissible" role="alert">
                     <div id="form_errors">
                         {% for key, value in user_form.errors.items %}
                         <strong>
                             {{value}}
                         </strong>
                         {% endfor %}
                     </div>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         &times;
             
                     </button>
                 </div>
             {% endif %}
             
             <div class="form-content">
                 <form method="POST" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" for image field -->
                     {% csrf_token %}
                     <div class="form-row">
                         <div class="col-md-5">
                             <div class="form-group">
                                 <label class="small mb-1">Username:</label>
                                 {{user_form.username}}
                                 <label class="small mb-1">Email:</label>
                                 {{user_form.email}}
                             </div>
                             <div class="form-group">
                                <a href="{% url 'password_change' %}">
                                    Change Password
                                </a>
                                <hr>
                                 <label class="small mb-1">Change Avatar:</label>
                                 {{profile_form.avatar}}
                             </div>
                             <div class="form-group">
                                <label class="small mb-1">Full Name</label>
                                {{profile_form.full_name}}
                             </div>
                             <div class="form-group">
                                <label class="small mb-1">Address</label>
                                {{profile_form.address_1}}
                                <label class="small mb-1">City</label>
                                {{profile_form.city}}
                                <label class="small mb-1">Country</label>
                                {{profile_form.country}}
                                <label class="small mb-1">Post Code</label>
                                {{profile_form.post_code}}
                             </div>
                             <label class="small mb-1">Bio:</label>
                             {{profile_form.bio}}
                         </div>
                     </div>
                     <br><br>
                     <button type="submit" class="btn btn-dark btn-lg">
                         Save Changes
                     </button>
                     <button type="reset" class="btn btn-dark btn-lg">
                         Reset
                     </button>
                 </form>
             </div>
        </div>
    </div>
</div>

{% endblock %}