{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<br><br><br>

<div class="container mt-5">
    <h2 class="mb-3">
        Delivery Address > <span class="text-muted">Checkout</span>
    </h2>
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-5" style="height: auto;">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-primary float-right" type="submit">
                            Save Address
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: auto;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for order_item in order_items %}
                        <li class="list-group-item">
                            {{order_item.item.name}} X {{order_item.quantity}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <span class="float-left">Order Total</span>
                    <span class="float-right"><b>£ {{order_total|floatformat:2}}</b></span>
                </div>
            </div>
            <br><br>
            {% if saved_address.is_fully_filled %}
            <a href="{% url 'payment' %}" class="btn btn-warning btn-md" id="checkout-button">Make Payment</a>
            {% else %}
            <div class="alert alert-info">
                <p>
                    Please provide all information to proceed to payment
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    var stripe = Stripe('pk_test_51LY5f1FHBngm0aT5X9RyaGZAMSkscQ2i95jph83HN9TTVptbkE6SqOrvtkf4h8ndJLGdGM58uTE6aS896Aey3CLC00lyM9WD9v');
    var checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function() {
        fetch('/create-checkout-session/', {
            method: 'POST',
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(session) {
            return stripe.redirectToCheckout({sessionId:session.id});
        })
        .then(function(result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function(error) {
            console.error('Error:',error);
        });
    });
</script>

{% endblock %}