{% extends 'base.html' %}

{% block content %}

<br><br><br><br><br><br>

<div class="container my-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card shadow-lg">
                {% if payment_status == 'success' %}

                <h2 class="alert alert-success">
                    Your order has been successfully processed
                </h2>

                {% else %}

                <h2 class="alert alert-warning">
                    Your order has not been processed
                </h2>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}