/* #clothing-cat {
  background: url('/media/bikeclothes.png') no-repeat center center fixed;
  height: 500px;
} */

.logo {
  border-radius: 50%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .header-container {
          padding-top: 164px;
      }
  }